<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>{{ page.title }} by jimjh</title>
    <!--[if lt IE 9]>
    <script src='//html5shiv.googlecode.com/svn/trunk/html5.js'></script>
    <![endif]-->
    <link rel='stylesheet' type='text/css' href='css/reset.css'>
    <link rel='stylesheet' type='text/css' href='css/docs.css'>
    <link rel='stylesheet' type='text/css' href='css/box-lid.css'>
    <link rel='stylesheet' type='text/css' href='css/box-lid-nav.css'>
    <link rel='stylesheet' type='text/css' href='css/pygment_trac.css'>
  </head>
  <body>
    <div class='box-lid-menu'>
      <div class='box-lid-icon'></div>
      <nav>
        <h4>Menu</h4>
        <ul></ul>
      </nav>
    </div>
    <div class='box-lid'>
      <div class='box-lid-content'>
        <div class='wrapper'>

          <header>
            <h1>{{ page.title }}</h1>
            <p>{{ page.excerpt }}</p>
            <p class='view'><a href='https://github.com/jimjh/box-lid'>View the Project on GitHub <small>{{ page.repo }}</small></a></p>
            <ul>
              <li><a href='https://github.com/{{ page.repo }}/zipball/master'>Download <strong>ZIP File</strong></a></li>
              <li><a href='https://github.com/{{ page.repo }}/tarball/master'>Download <strong>TAR Ball</strong></a></li>
              <li><a href='https://github.com/{{ page.repo }}'>View On <strong>GitHub</strong></a></li>
            </ul>
          </header>
          <section>

            <h2>Demo</h2>
            <p>You can see the Box Lid Menu in action by hovering your mouse over the menu bar on the left.</p>

            {{ content }}

          </section>

        </div>
      </div>
    </div>

    <script src='http://code.jquery.com/jquery-1.10.2.min.js'></script>
    <script src='js/box-lid.min.js'></script>
    <script> $('.box-lid-menu').boxLid(); </script>

    <script>

      /* quick hack to generate menu. */

      function Part(title) {

        this.title = title;
        this.contents = [];

        this.push = function(ele) {
          this.contents.push(ele);
          ele.addClass('inactive');
        };

        this.toggle = function() {
          this.title.toggleClass('active inactive');
          $.each(this.contents, function() {
            this.toggleClass('active inactive')
          });
        };

        var text = title.text();
        var that = this;
        this.link = $('<a>').
          attr('title', text).
          text(text).
          attr('href', '#').
          click(function() {
            $('.active').toggleClass('active inactive');
            that.toggle();
            return false;
          });

          this.item = $('<li>').append(this.link);

        title.addClass('inactive');

      }

      var parts = [];
      var part  = null;

      $('section').children().each(function() {
        var ele = $(this);
        if (ele.is('h2')) {
          if (part) parts.push(part);
          part = new Part(ele);
        } else if (part) {
          part.push(ele);
        }
      });

      if (part) { parts.push(part); }

      parts[0].toggle();
      $.each(parts, function() { $('nav ul').append(this.item); });

    </script>

  </body>
</html>
